.email-container {
  border: 1px solid #000000;
  height: 100%;

  .email-list {
    border-right: 1px solid #000000;
    height: 100vh;
    overflow-y: scroll;

    .filter {
     border-bottom: 1px dotted #000000;
     padding: 10px;
    }

    .email-item {
      border-bottom: 1px solid #000000;
      padding: 10px;

      .author {
        display: inline-block;
      }

      .date {
        color: gray;
        margin-left: 80px;
      }

      .title {}
    }
  }

  .email-details {
    .header {
      border-bottom: 1px solid #000000;
      padding: 10px;
    }

    .body {
      padding: 10px;
    }
  }
}